/* Configuração padrão. */
body {  
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('../../../galeria/fundo_rl.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
}
/* Conteúdo. */
#content-form {
    margin: 20px 0px 30px 100px;
    display: inline-block;
    border: 3px solid #00c2cb;
    border-radius: 10px;
    padding: 10px 40px;
}
#title {
    margin-left: 65px; 
}
.line {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #00c2cb;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    color: black;
    font-size: 16px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid grey;
}
input[type="radio"] {
    margin-bottom: 5px;
}
/* Botões */
input[type="submit"] {
    display: block;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #00c2cb;
    margin-top: 10px;
    margin-bottom: 20px;
}
input[type="submit"]:hover {
    cursor: pointer;
}
/* Labels */
label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
#error {
    color: red;
}