/* Body. */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('../../../galeria/fundo_rl.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 60px;
}
/* Formulário. */
#content-form {
    display: inline-block;
    border-radius: 20px;
    background-color: #00c2cb;
    padding: 15px 25px 20px 25px;
    margin: 50px 10%;
}
/* Título. */
#title {
    text-align: center;
}
.line {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}
/* Campos do formulário. */
input[type="email"], input[type="password"] {
    color: black;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
}
/* Botões. */
input[type="submit"] {
    display: block;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
}
input[type="submit"]:hover {
    cursor: pointer;
}
/* Labels */
label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
/* Mensagem de erro. */
#error {
    margin-top: 10px;
}